.loading__body {
    margin: auto;
    color: #fff;
    z-index: 1001;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal--ant {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal__overlay--ant {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fadeInModal linear 0.1s;
    z-index: 1000;
}