$main-bg: #fff;
$main-color: #001529;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$txt-blue: #1890ff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$link-light-grey: #6c757d;
$primary-orange: #fec503; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;
